* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    margin-bottom: 7px;
}
.form-container {
     background-color:#FFA07A;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid rgba(168,210,227, 1);
    border-radius: 10px;
    width: 25%;
}

.form-container form{
    width: 100%;
}

.form-container .form-title {
    align-self: flex-start;
    font-size: 22px;
    color: #cd00cd;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(168,210,227, 1);
    display: block;
    width: 100%;
}

.error {
   color: #cd00cd;
    border: 1px solid #cd00cd;
    position: absolute;
    top: 20%;
    left: 15%;
}

.radios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#send-btn {
    width: 100%;
}
  
