* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
.form-container {
     background-color:#FFA07A;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid rgba(168,210,227, 1);
    border-radius: 10px;
    width: 25%;
}

.form-container form{
    width: 100%;
}

.form-container .form-title {
    align-self: flex-start;
    font-size: 22px;
    color: #cd00cd;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(168,210,227, 1);
    display: block;
    width: 100%;
}

.input-group, .form-check, #send-btn {
    margin: 15px 0;
}

#gender-block, #limbs-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


#limbs-block .block-title {
    margin-right: 5px;
}

#send-btn {
background-color:#98ff98;
	
    display: block;
    width: 100%;
}

.block {
    margin-bottom: 7px;
}

.error {
    color: rgba(245, 46, 46, 1);
    border: 1px solid rgba(245, 46, 46, 1);
    position: absolute;
    top: 20%;
    left: 15%;
}

.radios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#send-btn {
    width: 100%;
}
