* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color:#b400b4;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid rgba(168,210,227, 1);
    border-radius: 10px;
    width: 25%;
}

.form-container form{
    width: 100%;
}

.form-container .form-title {
    align-self: flex-start;
    font-size: 22px;
    color: #a000a0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(168,210,227, 1);
    display: block;
    width: 100%;
}

.input-group, .form-check, #send-btn {
    margin: 15px 0;
}

#gender-block, #limbs-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#gender-block, #limbs-block {
    padding: 0;
}

#gender-block {
    margin-right: 50px;
}

#limbs-block .block-title {
    margin-right: 5px;
}

#send-btn {
   .lgbt {
	background-color: linear-gradient(180deg, #FE0000 16.66%,
		#FD8C00 16.66%, 33.32%,
		#FFE500 33.32%, 49.98%,
		#119F0B 49.98%, 66.64%,
		#0644B3 66.64%, 83.3%,
		#C22EDC 83.3%);
}
    display: block;
    width: 100%;
}
